<div>
    <mat-toolbar color="primary">
        <span class="logo">
            <mat-icon>calendar_today</mat-icon>
            <span class="app-name"> Calendar</span>
        </span>

        <!-- <div class="center-content">
            <button mat-icon-button (click)="prevMonth()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <span class="current-date">{{ currentMonth }}</span>
            <button mat-icon-button (click)="nextMonth()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div> -->

        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
</div>